/* form{text-align: center;}	
.bg{border:10px 15px  solid #46A3FF;
    width:300px;margin:auto;
    background-color: white;}

h1{
font-size:40px;
font-family: "Times New Roman";
}
p1{
font-family:"Times New Roman", Times, serif;
}

button{
text-align:center;
background-color:blue;
width:150px;
height:70px;
} */

.bg{
    background-color: aqua;
    width:300px;
    height: 400px;
    padding-top: 20px;
}
.white{
    margin-top: 20px;
    margin: auto;
    background-color: white;
    width: 280px;
    height: 320px;
}
.top{

}
.form_1{
    text-align: center;
}
.block{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.8;
    background-color: rgb(236, 233, 233);
    border:0px;
}
.title{
    font-size: large;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
}
.word{
    font-size: xx-small;
    padding-left: 20px;
    padding-top: 10px;
    color: gray;
}